@import url("reset.css");
body{
    font-family: "Roboto", sans-serif;
    font-weight:400;
}
html,body{
    height: 100%;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*HEADER*/

header{
    background:#FFFFFF;
    padding: 25px 0;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo img{
    width: 145px;
    height: 31px;
}
.header-nav{
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 93px;
}
.header-address{
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}
.header-link{
    display: flex;
    column-gap: 50px;
    text-decoration: none;
    font-size: 14px;
    color: #212121;
}
.header-link-blue{
    color: #2196F3;
    display: flex;
    column-gap: 50px;
    text-decoration: none;
    font-size: 14px;
}
/*HERO*/
.hero{
    background: #2F303A;
}
.hero-container{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 646px;
    line-height: 1.3;
}
.hero-button{
    background: #2196F3;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}
.btn{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color:#FFFFFF ;
}

/*PLANNING*/
.planning{
    background: #FFFFFF;
}
.planning-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.planning-box{
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    width: 270px;
    height: 101px;
}
.planning-title{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.planning-text{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}
.doing{

}
.doing-title{
    font-weight: 700;
    font-size: 35px;
    display:flex;
    align-items: center;

    justify-content: center;
    margin-bottom: 50px;
}
.doing-images{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}
.doing-images img{
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-bottom: 90px;

}

/*FOOTER*/
footer{
    background: #2F303A;
    padding: 60px 0;
    margin-top: auto;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer-logo img{
    width: 161px;
    height: 31px;
    margin-bottom: 20px;
}
.footer-address{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 9px;
}
.footer-text{
    color: #FFFFFF;
}
.footer-link{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF99;
}
.tel{
    font-size: 14px;
    color: #FFFFFF99;
}


